<h1>All Tags</h1>

<ul id="tags" class="list-group">
  <% @tags.each do |tag| %>
    <li class="list-group-item">
      <%= link_to tag, tag_path(tag) %>
      <% if logged_in? %>
        <%= button_to "delete", tag_path(tag), :class => "btn btn-danger", method: :delete, data: {confirm: "Delete tag?"} %>
      <% end %>
    </li>
  <% end %>
</ul>

